﻿@model IEnumerable<TestTask.Models.User>
@{
    ViewBag.Title = "Index";
}

<div>
    <h3>Пользователи</h3>
    <table>
        <tr class="header">
            <td><p>Индекс</p></td>
            <td><p>Имя</p></td>
            <td><p>Фамилия</p></td>
            <td><p>Дата рождения</p></td>
            <td><p>Номер телефона</p></td>
            <td><p>Email</p></td>
            <td></td>
        </tr>
        @foreach (TestTask.Models.User user in Model)
            {
            <tr>
                <td><p>@user.Id</p></td>
                <td><p>@user.Name</p></td>
                <td><p>@user.LastName</p></td>
                <td><p>@user.Birthday.Value.ToString("d")</p></td>
                <td><p>@user.Phone</p></td>
                <td><p>@user.Email</p></td>
            </tr>
        }
    </table>
</div>

